<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO NODEJS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ea quos debitis. Sequi est, fugiat sit sunt totam corporis neque enim dolorem, dicta aliquam beatae distinctio molestiae rerum possimus laboriosam?</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, odio! Obcaecati temporibus ipsam reprehenderit inventore unde, voluptatibus eius illo maiores dignissimos laborum dolor voluptates fugit deleniti assumenda hic. Vel, eveniet!</p>
</body>
</html>